<div class="container">
    <!-- Button trigger modal -->
    <h2>click here</h2>
    <button type="button" class="btn btn-primary btn-lg mt-2" data-toggle="modal" data-target="#exampleModal">
        View Details
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content samples">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Haematology</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Test Name</th>
                                <th scope="col">Result</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><b>Name: </b></td>
                                <td>{{haemo.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Total Count: </b></td>
                                <td>{{haemo.totalCount}}</td>
                            </tr>
                            <tr>
                                <td><b>Haemoglobin: </b></td>
                                <td>{{haemo.haemoglobin}}</td>
                            </tr>
                            <tr>
                                <td><b>Neutrophils: </b></td>
                                <td>{{haemo.neutrophlips}}</td>
                            </tr>
                            <tr>
                                <td><b>Lymphocytes: </b></td>
                                <td>{{haemo.lymphocytes}}</td>
                            </tr>
                            <tr>
                                <td><b>RBC: </b></td>
                                <td>{{haemo.RBC}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mt-5" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>