<div class="container-fluid">
    <img src="https://media.istockphoto.com/photos/in-a-modern-laboratory-scientist-conducts-experiments-by-synthesising-picture-id823447656?k=20&m=823447656&s=170667a&w=0&h=O7CLUJRErudYh61xvKj2_EfV93kbsVVaS0QCtX3_nJE="
        class="img-fluid" alt="" width="70%" height="80%">
    <marquee behavior="scroll" direction="right" scrollamount="30" width="60%" height="60%">
        <h1 style="font-family:'Courier New', Courier, monospace;color:red;font-weight: bolder;"> welcome to Labarotary
            application</h1>

    </marquee>


</div>