.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left:450px;
    margin-top: 10px;
    
}

#register-form{
   
    padding:10px;
    margin:10px;
    width:100%;
}

.input-group{ 
padding :10px;
}