<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home screen</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mt-5">
                <input class="form-control" type="search" name="firstName" placeholder="serach here"
                    [(ngModel)]="firstName" />

            </div>
        </div> <br>

        <form method="get">
            <h2 style="margin-left:600px; font-weight:bolder"> User Details</h2>
            <table class="table table-bordered table-hover ">
                <thead class="bg-info">
                    <tr>
                        <th scope=" col">Sample Date</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Email ID</th>
                        <th scope="col">Sample ID</th>
                        <th scope="col">View Deatails</th>
                        <th scope="col">Edit User</th>




                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let r of result|filter:firstName">
                        <th scope="row">{{date|date:'fullTime'}}</th>
                        <td>{{r.uname}}</td>
                        <td>{{r.email}}</td>
                        <td>{{r._id}}</td>
                        <td><button class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="left"
                                title="View Details" type="submit" [routerLink]="['/viewdetails']">View
                                Reports</button></td>
                        <td><button class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom"
                                title="Edit User" type="submit" [routerLink]="['/getUser/' ,r._id]">Edit
                                User</button>
                        </td>


                    </tr>

                </tbody>
            </table>
        </form>
    </div>

</body>

</html>