<div class="container">
    <h4 style="text-align:center; font-weight: bolder">GLUCOMETRY REPORT</h4>
    <table class="table">
        <thead class="bg-danger">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fasting Blood Sugar</th>
            <th scope="col">Post Prandial Blood Sugar</th>
            <th scope="col">Glycosyated Haemoglobin</th>
            <th scope="col">Calcium</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of glucoResult">
            <th scope="row">{{r._id}}</th>
            <td>{{r.fasting}}</td>
            <td>{{r.post}}</td>
            <td>{{r.gly}}</td>
            <td>{{r.calcium}}</td>
          </tr>
          
        </tbody>
      </table>
</div>