<div class="container">
  <form
    class="form"
    [formGroup]="glucomteryForm"
    (ngSubmit)="Submit()"
    method="POST"
  >
    <h6 class="h">Add Glucomtery Report</h6>
    <br />

    <div id="a">
      <input
        type="text"
        class="text"
        id="b"
        placeholder="Fasting Blood Sugar-mg/dl"
        name="fasting"
        formControlName="fasting"
      />
      <br />

      <span
        style="color: red; font-weight: bolder; font-size: 20px"
        *ngIf="fasting?.invalid && fasting?.touched"
        >**enter valid fasting Blood</span
      >
    </div>
    <br />

    <div id="a">
      <input
        type="text"
        class="text"
        id="b"
        placeholder="Post Prandial Blood Sugar-mg/dl"
        name="post"
        formControlName="post"
      /><br />

      <span
        style="color: red; font-weight: bolder; font-size: 20px"
        *ngIf="post?.invalid && post?.touched"
        >**enter valid Post Prandial</span
      >
    </div>
    <br />

    <div id="a">
      <input
        type="text"
        class="text"
        id="b"
        placeholder="Glycosyated Haemoglobin-%"
        name="gly"
        formControlName="gly"
      /><br />

      <span
        style="color: red; font-weight: bolder; font-size: 20px"
        *ngIf="gly?.invalid && gly?.touched"
        >**enter valid Glycosyated</span
      >
    </div>
    <br />

    <div id="a">
      <input
        type="text"
        class="text"
        id="b"
        placeholder="Calcium-mg/dl"
        name="calcium"
        formControlName="calcium"
      /><br />

      <span
        style="color: red; font-weight: bolder; font-size: 20px"
        *ngIf="calcium?.invalid && calcium?.touched"
        >**enter valid calcium</span
      >
    </div>
    <br />

    <button type="submit" class="text" class="btn btn- btn-primary">
      submit
    </button>
  </form>
</div>
